
extends partials/header

block content

  // File name: about.pug
  // Author's name: Kuan-Wen Liu
  // Web site name: Kuan-Wen Liu Portfolio
  // file description: about page is introducing myself

  h1= title
  br
  p I am a student at georgian college. It is my last semester and I am looking for a web developer co-op position.
  p I am from Taiwan. I can speak Mandarin, Taiwanese, and English.


  include partials/footer