extends partials/header

block content

  // File name: services.pug
  // Author's name: Kuan-Wen Liu
  // Web site name: Kuan-Wen Liu Portfolio
  // file description: Services page is what I am providing

  h1= title
  br
  p I can provide high quality website with reasonable price.


  include partials/footer